<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Tab Navigation</title>
    <style>
        .tab-content {
            display: none;
        }

            .tab-content.active {
                display: block;
            }

        .nav-buttons {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div id="tab1" class="tab-content active">
        @Html.Partial("tabOne")
      
    </div>
  
</body>
</html>
